{% extends 'base.html' %}

{% block title %}
{% endblock title %}
    
{% block scripts %} 
{% endblock scripts %} 

{% block page_title %}{% endblock page_title %}

{% block content %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ article.thumb.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ article.body_1 }}</p>
                    <p class="fs-5 mb-4">{{ article.body_2 }}</p>
                    <p class="fs-5 mb-4">{{ article.body_3 }}</p>
                    <h2 class="fw-bolder mb-4 mt-5">{{ article.body_4 }}</h2>
                    <p class="fs-5 mb-4">{{ article.body_5 }}</p>
                    <p class="fs-5 mb-4">{{ article.body_6 }}</p>
                </section>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Resources</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Programming</a><br><br>
            </article>
            
           <!-- Comments section-->
           <section class="mb-5">
            <div class="card bg-light">

            </div>
        </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
       
        
        <!-- Side widget-->
        <div class="card mb-4">
            <!--<div class="card-header">Side Widget</div>-->
            <div class="card-body"><h1 class="fw-bolder mb-1">{{ article.title }}</h1><div class="text-muted fst-italic mb-2">Posted on {{ article.date }} by {{ article.author }}</div></div>
        </div>
    </div>
</div>
</div>
    
{% endblock content %} 
