    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
      
        <!-- Email -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!mailto:youremail@emailprovider.com"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fas fa-envelope"></i>
        </a>
    
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!your-linkedin-adress"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!your-github-handle"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="icon-link icon-link-hover link-success link-underline-success link-underline-opacity-25" href="{% url 'about:about_page' %}">
            Created and built by Alexandra Pietroch
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <!-- @Marina: I used templates / template snippets from Bootstrap and customized them. Do I need to mention Bootstrap within the Copyright as below? -->
      © 2023 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    

  